@import "../../styles/variables.scss" ;

.experienceBar {
    display: flex;
    align-items: center;
    span {
        font-size: 1rem;
    }

    > div {
        flex:1;
        height: 4px;
        border-radius: 4px;
        background-color: nth($green, 2);
    }
}